after,:before,blockquote,body,button,caption,dd,div,dl,dt,fieldset,figure,form,h1,h2,h3,h4,h5,h6,hr,html,input,legend,li,menu,ol,p,pre,table,td,textarea,th,ul{margin:0;padding:0}

html,body {
  width: 100vw;
  font-size: 10vw;
  height: 100vh;
  background: #fff;
}

a {
  text-decoration: none;
  user-select: none;
  outline: none;
  color: #444;
}

ul, li {
  list-style: none;
}

input{
	-webkit-user-select: auto;
}

img {
  max-width: 100%;
  display: block;
}

input, button {
  border: none;
  outline: none;
}

input:focus {
  outline: none;
}

.fade-in-enter {
  transform: translate3d(100%, 0, 0) !important;
}
.fade-out-enter {
  z-index: 1;
}
.fade-in-enter-to {
  z-index: 2;
  transform: translateZ(0);
}
.fade-out-enter-to {
  z-index: 1;
}

.fade-in-enter-active,
.fade-in-leave-active,
.fade-out-enter-active,
.fade-out-leave-active,
.login-out-enter-active,
.login-out-leave-active,
.login-in-enter-active,
.login-in-leave-active,
.slide-in-enter-active,
.slide-in-leave-active,
.slide-out-enter-active,
.slide-out-leave-active,
.opacity-enter-active,
.opacity-leave-active {
  transition-duration: .5s;
  transition-timing-function: cubic-bezier(.36,.66,.04,1);
  transition-property: opacity,transform;
}
.opacity-enter {
  opacity: 0;
}
.opacity-enter-to {
  opacity: 1;
}
.opacity-leave-to {
  opacity: 0;
}
.fade-in-enter-active {
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.15);
}

.fade-in-leave-to {
  z-index: 1;
  /* transform: perspective(500px) translate3d(-33%, 0, -10px); */
}
.fade-out-leave {
  z-index: 12 !important;
  /* transform: translate3d(0, 0, 0); */
}
.fade-out-leave-to {
  z-index: 12 !important;
  transform: translate3d(100%, 0, 0);
}

.header-back {
  position: fixed;
  left: 20px;
  top: 56px;
  font-weight: bold;
  z-index: 300;
}
.header-back .back-icon {
  font-size: 42px;
  color: #fff;
}


.slide-in-enter {
  opacity: 0;
  transform: translate3d(33%, 0, 0);
}
.slide-in-enter-to {
  opacity: 1;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}
.slide-in-leave-to {
  opacity: 0;
  z-index: 1;
  transform: translate3d(-33%, 0, 0);
}
.slide-out-enter {
  opacity: 0;
  transform: translate3d(-33%, 0, 0);
}
.slide-out-enter-to {
  opacity: 1;
  z-index: 2;
  transform: translate3d(0, 0, 0);
}
.slide-out-leave-to {
  opacity: 0;
  z-index: 1;
  transform: translate3d(33%, 0, 0);
}

.c-teriral__start {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
  font-size: 40px;
  color: #444;
  background: aqua;
  line-height: 150px;
  text-align: center;
  box-shadow: 0 10px rgba(0, 0, 0, .78);
  animation: jump 1.5s ease-in-out infinite backwards;
}

.slide-up-enter-active {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  animation: slide-ups .5s ease-in-out;
}

@keyframes slide-ups {
  from {
    opacity: 0;
    transform: translate3d(0, 15px, 0)
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}

.slide-up-all-enter-active {
  animation: slide-up-all .5s ease-in-out;
}
.slide-up-all-leave-active {
  animation: slide-up-all .5s ease-in-out reverse;
}

@keyframes slide-up-all {
  from {
    transform: translate3d(0, 100%, 0)
  }
  to {
    transform: translate3d(0, 0, 0)
  }
}

.login-in-enter {
  transform: translate3d(0, 100%, 0);
}

.login-in-enter-to {
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.login-in-leave {
  z-index: 2;
  transform: translate3d(0, 100%, 0);
}

.login-in-leave-to {
  z-index: 2;
  transform: translate3d(0, 0, 0);
}


.login-out-enter {
  z-index: 1;
}
.login-out-enter-to {
  z-index: 1;
}

.login-out-leave {
  z-index: 2;
  transform: translate3d(0, 0, 0);
}

.login-out-leave-to {
  z-index: 2;
  transform: translate3d(0, 100%, 0);
}

.g-layout {
  box-sizing: border-box;
  overflow-y: auto;
  // touch-action: none;
  -webkit-overflow-scrolling: touch;
  background: #0D0D0D;
}

.app-loading-enter-active {
  animation: app-loading .5s;
}
.app-loading-leave-active {
  animation: app-loading .5s reverse;
}
@keyframes app-loading {
  from {
    transform: scale3d(0, 0, 0);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}

.c-home__search {
  height: 50px;
  background: rgba(0, 0, 0, 1);
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  // touch-action: none;
  .iconfont {
    font-size: 46px;
    color: yellow;
  }
}

.c-person__header {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}

.c-person__vip {
  padding: 5px 20px;
  border-radius: 30px;
  background: #666;
  font-size: 26px;
  color: rgba(0, 0, 0, .9);
  font-weight: bold;
  &.c-person__vip--active {
    background: yellow;
    color: #000;
  }
}

.c-songlist__tag {
  margin-top: 30px;
  display: flex;
  .c-songlist__tag__item {
    font-size: 24px;
    padding-bottom: 10px;
    color: #ccc;
    border-bottom: 3px solid #ccc;
    border-radius: 2px;
  }
}

.phase-ready {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.clip-enter-active {
  animation: clip-paths .5s ease-in-out;
}

.clip-leave-active {
  z-index: 500;
  animation: clip-paths .5s ease-in-out reverse;
}

@keyframes clip-paths {
  from {
    transform: translate3d(0, 100%, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}


.fade-slide-top-enter-active {
  animation: fade-slide-top-enter .5s ease-out;
}

.fade-slide-top-leave-active {
  animation: fade-slide-top-leave .5s ease-out;
}

@keyframes fade-slide-top-enter {
  from {
    opacity: 0;
    transform: translate3d(0, 30px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-slide-top-leave {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  to {
    opacity: 0;
    transform: translate3d(0, -30px, 0);
  }
}